# Compiled class file
*.class
# secrets contain passwords, api secrets / api client ids ...
/secrets
# docker yamls created via docker-compose.
# docker-compose -f docker-compose.yml -f  docker-compose.prod.stack.yml -f docker-compose.prod.yml config > prod.yml
prod.yml
dev.yml


# TODO: init-mongo shell script appears to require hardcoded user password.
# Not sure yet. For some reasopn the web application does not connect if
# if the user was created via environment variable. Hardcoded however works
# Very strange because the user is created in mongo via env variable.
# But web app is simply failing authentication if created via variable.
# Spent too much time looking at this. I am going to upload a sample file
# called init-mongo-template.sh for reference

init-mongo.sh

.vscode/
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
